html,body{
	margin:0px;
	padding:0px;
}
/**********************************************************
 * TEXT
 *********************************************************/
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}

/**********************************************************
 * BACKGROUND COLOR
 *********************************************************/
.bg-color-red {background-color: red;}
.bg-color-blue {background-color: blue;}
.bg-color-black {background-color: black;}
.bg-color-gray {background-color: gray;}
.bg-color-yellow {background-color: yellow;}
.bg-color-green {background-color: green;}
.bg-color-222{background-color: #222;}
/**********************************************************
 * COLOR
 *********************************************************/
.color-red {color: red;}
.color-blue {color: blue;}
.color-black {color: black;}
.color-gray {color: gray;}
.color-yellow {color: yellow;}
.color-green {color: green;}
.color-white {color: white;}

/**********************************************************
 * BORDER COLOR
 *********************************************************/
.border-color-green {border-color:#14a107;}