@charset "utf-8";

/* 초기화 */
html {overflow-y:scroll;height:100%;margin-top:-20px;}
body {margin:0;padding:0;color:#000;font-size:12px;font-family:sans-serif;width:100%;background:#141414;font-family:'돋움', dotum, sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
legend {position:absolute;width:1px;height:1px;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sir-head ul, header ul, nav ul, #sir-tail ul {margin:0;padding:0;list-style:none}
p {margin:0;padding:0;line-height:1.6em;word-break:break-all}
label, input, select, img, button {margin:0;padding:0}
textarea{font-family:sans-serif}
input {border-radius:0}
button {margin:0;border-radius:0;font-family:sans-serif;cursor:pointer;border:0;font-size:1em}
input[type=text], input[type=password], input[type=submit], input[type=image], button {-webkit-appearance:none}
pre {overflow-x:scroll;font-size:1em}
select {margin:0;font-size:0.857em}
hr {display:none}
iframe#hiddenframe {display:none;width:0;height:0}
a, a:link, a:visited, a:active {color:#000;text-decoration:none}
a:focus, a:hover {text-decoration:none}
ul,li,ol,dd,dt,dl{list-style:none;padding:0;margin:0}
table{border-collapse:collapse}
.sound_only,#hd_pop h2{position: absolute;margin: 0 !important;padding: 0 !important;font-size: 0;text-indent: -9999em;line-height: 0;overflow: hidden;}

*, :after, :before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html,body {background-color:#222;color:#fff;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: moz-none;-ms-user-select: none;user-select: none;touch-action: manipulation;}
.saisai-mobile-wrap {position:relative;width:100%;}

.saisai-mobile-wrap .video-box .message-box {position: absolute;width: 320px;height: 30px;line-height: 30px;text-align: center;color: #fff;left: 50%;margin-left: -160px;top: 10px;font-size: 12px;display:none;z-index:1050;}
.saisai-mobile-wrap .video-box .win-box {position: absolute;width: 320px;height: 30px;line-height: 30px;text-align: center;color: #fff;left: 50%;margin-left: -160px;bottom: 10px;font-size: 12px;z-index:1050;}


/********************************************************************
* WIN BOX
*******************************************************************/
.saisai-mobile-wrap .win-box {position:relative;width:100%;display:none;}
.saisai-mobile-wrap .win-box img {width:100%;}

/********************************************************************
* VIDEO BOX
*******************************************************************/
.saisai-mobile-wrap .video-box {position:relative;width:100%;}
.saisai-mobile-wrap .video-box .card-box {position:absolute;top:0px;width:100%;}

.saisai-mobile-wrap .video-box .card-box .cards {position:absolute;width:40px;height:60px;background-color:#fff;background-size:100% 100%;}

.saisai-mobile-wrap .video-box .card-box .cards.left-card {position: absolute;top: 12px;left: 10px}
.saisai-mobile-wrap .video-box .card-box .cards.center-card {position: absolute;top: 12px;left: 55px}
.saisai-mobile-wrap .video-box .card-box .cards.right-card {position: absolute;top: 12px;left: 100px;}

.saisai-mobile-wrap .video-box .count-box {position: absolute;left: 50%;bottom: 0px;width: 160px;margin-left: -80px;opacity:0;zoom: 0.5;-moz-transform: scale(0.5);}

/******************************************************
 * CHIP
 *****************************************************/
.saisai-mobile-wrap .chip-box-outer {position:relative;width:100%;height:67px;}
.saisai-mobile-wrap .chip-box-outer .chip-box-inner {position:absolute;top:3px;left:3px;right:3px;height:60px;outline:1px solid #0a0a0a;overflow-x:auto;overflow-y:hidden;}
.saisai-mobile-wrap .chip-box-outer .chip-box-inner .notice {position: absolute;top:16px;width:100%;text-align:center;color:#929292;font-weight: bold;display:none;}
.saisai-mobile-wrap .chip-box-outer .chip-box-inner ul {width:355px;list-style: none;margin:0 auto;display:none;}
.saisai-mobile-wrap .chip-box-outer .chip-box-inner ul li {float:left;}
.saisai-mobile-wrap .chip-box-outer .chip-box-inner ul li a {display:block;width:46px;height:46px;margin-top:8px;margin-bottom:8px;margin-left:6px;margin-right:6px;}
.saisai-mobile-wrap .chip-box-outer .chip-box-inner ul li a img {width:46px;height:46px;}

.saisai-mobile-wrap .btn-confirm-box {position:relative;width:100%;height:40px;display:none;}
.saisai-mobile-wrap .btn-confirm-box .btn-confirm-box-one {width:100%;height:35px;}
.saisai-mobile-wrap .btn-confirm-box .btn-confirm-box-one ul {list-style: none;margin:0px;padding:0px;}
.saisai-mobile-wrap .btn-confirm-box .btn-confirm-box-one ul li {float:left;width:50%;}
.saisai-mobile-wrap .btn-confirm-box .btn-confirm-box-one ul li a {display:block;width:98%;height:35px;line-height:35px;text-align:center;margin:0 auto;}
.saisai-mobile-wrap .btn-confirm-box .btn-confirm-box-one ul li.btn-chip-reset a {color:#fff;}
.saisai-mobile-wrap .btn-confirm-box .btn-confirm-box-two {position:absolute;width:100%;height:35px;display:none;}
.saisai-mobile-wrap .btn-confirm-box .btn-confirm-box-two label{position: absolute;left:5px;width: 60%;height: 35px;line-height: 35px;color: #000;}

.saisai-mobile-wrap .btn-confirm-box .btn-confirm-box-two .btn-chip-ok {position: absolute;top: 3px;width: 70px;right: 90px;height: 27px;line-height: 27px;text-align: center;color: #fff;border-radius: 5px;}
.saisai-mobile-wrap .btn-confirm-box .btn-confirm-box-two .btn-chip-cancel {position: absolute;top: 3px;width: 70px;right: 10px;height: 27px;line-height: 27px;text-align: center;color: #fff;border-radius: 5px;}

/********************************************************************
* INFORMATION BOX
*******************************************************************/
.saisai-mobile-wrap .info-box {
    position:relative;
    width:100%;
    height: 36px;
    border: 1px solid #000;
    margin-top: -6px;
}
.btn-bet:active {
    background-color: #818181 !important;
    transition: background-color 50ms;
}
.btn-bet{
    transition: background-color 1000ms;
}
.saisai-mobile-wrap .info-box .livechat {
    position: relative;
    width: 20%;
    height:35px;
    line-height:35px;
    text-align:center;
    color: #29C327;
    background: #000;
    float: left;
}

.input-box-border {
    width: 65%;
    float: left;
}

input.input-box-text {
    width: 100%;
    border: none;
    padding: 8px 10px 8px 10px;
    background: #1A1A1A;
    color: #ddd;
}

.info-box .send-button {
    width: 15%;
    float: left;
    padding: 9px;
    background: #000;
    color: #29C327;
    text-align: center;
}
/********************************************************************
* BETTING PANEL
*******************************************************************/
.saisai-mobile-wrap .betting-panel {position: relative;width: 100%;height:375px;}

.saisai-mobile-wrap .btn-odd {position:absolute;width:35%;height:70px;left:0px;top:0px;background-color:#016ab4;outline:1px solid #012335;outline-offset: -1px;}
.saisai-mobile-wrap .btn-odd .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #012335;outline-offset:-1px;}
.saisai-mobile-wrap .btn-odd .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-odd .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-even {position:absolute;width:35%;height:70px;left:0px;top:75px;background-color:#630000;outline:1px solid #b31600;outline-offset: -1px;}
.saisai-mobile-wrap .btn-even .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #b31600;outline-offset:-1px;}
.saisai-mobile-wrap .btn-even .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-even .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-black {position:absolute;width:35%;height:70px;left:0px;top:150px;background-color:#000;outline:1px solid #343434;outline-offset: -1px;}
.saisai-mobile-wrap .btn-black .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #343434;outline-offset:-1px;}
.saisai-mobile-wrap .btn-black .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-black .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-red {position:absolute;width:35%;height:70px;left:0px;top:225px;background-color:#630000;outline:1px solid #b31600;outline-offset: -1px;}
.saisai-mobile-wrap .btn-red .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #b31600;outline-offset:-1px;}
.saisai-mobile-wrap .btn-red .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-red .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-special {position:absolute;width:28%;height:295px;left:50%;margin-left:-14%;top:0px;background-color:#094501;outline:1px solid #157501;outline-offset: -1px;}
.saisai-mobile-wrap .btn-special .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #157501;outline-offset:-1px;}
.saisai-mobile-wrap .btn-special .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}

.saisai-mobile-wrap .btn-spade {position:absolute;width:35%;height:70px;right:0px;top:0px;background-color:#000;outline:1px solid #343434;outline-offset: -1px;}
.saisai-mobile-wrap .btn-spade .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #343434;outline-offset:-1px;}
.saisai-mobile-wrap .btn-spade .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-spade .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-diamond {position:absolute;width:35%;height:70px;right:0px;top:75px;background-color:#630000;outline:1px solid #b31600;outline-offset: -1px;}
.saisai-mobile-wrap .btn-diamond .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #b31600;outline-offset:-1px;}
.saisai-mobile-wrap .btn-diamond .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-diamond .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-heart {position:absolute;width:35%;height:70px;right:0px;top:150px;background-color:#000;outline:1px solid #343434;outline-offset: -1px;}
.saisai-mobile-wrap .btn-heart .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #343434;outline-offset:-1px;}
.saisai-mobile-wrap .btn-heart .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-heart .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-clover {position:absolute;width:35%;height:70px;right:0px;top:225px;background-color:#630000;outline:1px solid #b31600;outline-offset: -1px;}
.saisai-mobile-wrap .btn-clover .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #b31600;outline-offset:-1px;}
.saisai-mobile-wrap .btn-clover .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-clover .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-low {position:absolute;width:35%;height:70px;left:0px;top:300px;background-color:#002234;outline:1px solid #0063a8;outline-offset: -1px;}
.saisai-mobile-wrap .btn-low .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #0063a8;outline-offset:-1px;}
.saisai-mobile-wrap .btn-low .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-low .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-middle {position:absolute;width:28%;height:70px;top:300px;left:50%;margin-left:-14%;background-color:#002234;outline:1px solid #0063a8;outline-offset: -1px;}
.saisai-mobile-wrap .btn-middle .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #0063a8;outline-offset:-1px;}
.saisai-mobile-wrap .btn-middle .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-middle .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}

.saisai-mobile-wrap .btn-high {position:absolute;width:35%;height:70px;right:0px;top:300px;background-color:#002234;outline:1px solid #0063a8;outline-offset: -1px;}
.saisai-mobile-wrap .btn-high .bet-money-back {position:absolute;width:100%;height:20px;background-color:#222;bottom:0px;opacity:0.7;outline:1px solid #0063a8;outline-offset:-1px;}
.saisai-mobile-wrap .btn-high .bet-money {position:absolute;width:100%;height:20px;line-height:20px;text-align:center;color:#fff;bottom:0px;}
.saisai-mobile-wrap .btn-high .rate-label {position: absolute;width: 100%;text-align: center;font-size: 11px;top: 18px;}
/********************************************************************
* NAVIGATION BOX
*******************************************************************/
.saisai-mobile-wrap .nav-box {position:relative;width:100%;height:32px;background-repeat: repeat-x;background: #12A107;}
.saisai-mobile-wrap .nav-box ul {list-style: none;margin:0px;padding:0px;width: 100%;}
.saisai-mobile-wrap .nav-box ul li {float:left;width: 32.5333%;margin: 1px 0.4%;background: #0E5E05;}
.saisai-mobile-wrap .nav-box ul li a {display:block;width:100%;height: 30px;line-height: 30px;text-align:center;color: #fff;}


/******************************************************
 * HISTORY BOX
 *****************************************************/
.saisai-mobile-wrap .history-box {position:relative;width:100%;background-color: #D8C79B;border-top: 1px solid #999;}
.saisai-mobile-wrap .history-box .title {position:absolute;width:100%;height:34px;line-height:34px;top:0px;left:0px;background-color:#118607;border:2px solid #14a107;text-align:center;}
.saisai-mobile-wrap .history-box .simple-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden;background-image: url("/assets/img/history/background.png?v=1514105786");}
.saisai-mobile-wrap .history-box .detail-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden}
.saisai-mobile-wrap .history-box .detail-1-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden}
.saisai-mobile-wrap .history-box .detail-2-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden}
.saisai-mobile-wrap .history-box .detail-3-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden}

.simple-detail-history-box table{background-image: url(/assets/img/history/background.png?v=1514105786);height: 66px !important;}
.saisai-mobile-wrap .history-box table {width:6200px;height:115px;}
.saisai-mobile-wrap .history-box td {width:18px;height:18px;padding:0px;border: 1px solid #999;}
.saisai-mobile-wrap .history-box td .history-icon {width: 16px;height: 16px;background-size: 16px 16px;line-height: 16px;color: #000;text-align: center;margin: 0 auto;}

.saisai-mobile-wrap .history-box .ch-tmp-point {position: absolute;left: 10px;bottom: 2px;width: 420px;height: 25px;line-height:25px;text-align: center;color: #fff;z-index: 1030;}
.saisai-mobile-wrap .history-box .title-point {position: absolute;left: 10px;top: 45px;width: 420px;height: 25px;line-height:25px;text-align: center;color: #fff;z-index: 1030;}

.saisai-mobile-wrap .history-box .title-point ul {list-style: none;margin:0px;padding:0px;}
.saisai-mobile-wrap .history-box .title-point ul li {float:left;width:20%;font-size:15px;font-weight: bold;}

.saisai-mobile-wrap .history-box .ch-tmp-point ul {list-style: none;margin:0px;padding:0px;}
.saisai-mobile-wrap .history-box .ch-tmp-point ul li {float:left;width:50%;font-size:15px;font-weight: bold;}

.saisai-mobile-wrap .history-box .ch-tmp-point ul li div{font-weight:bold;float:left;width:100%;margin-left:5px;margin-right:5px;}
.saisai-mobile-wrap .history-box .ch-tmp-point ul li .count_info{width: 200px;height: 23px;line-height: 18px;margin-bottom: 3px;font-size: 12px;font-weight: 700;}
.saisai-mobile-wrap .history-box .ch-tmp-point ul li .count_player{border:2px solid #51edff;border-radius:16px;color:#51edff}
.saisai-mobile-wrap .history-box .ch-tmp-point ul li .count_banker{border:2px solid #ff6d6d;border-radius:16px;color:#ff6d6d}
.saisai-mobile-wrap .history-box .ch-tmp-point ul li .count_odd{border:2px solid #595959;border-radius:16px;color:#595959}
.saisai-mobile-wrap .history-box .ch-tmp-point ul li .count_length{border:2px solid #aeff5d;border-radius:16px;color:#aeff5d}
.saisai-mobile-wrap .history-box .ch-tmp-point ul li .count_label{display:block;float:left;padding-left:5px}
.saisai-mobile-wrap .history-box .ch-tmp-point ul li .count_label_2{display:block;float:right;padding-right:10px}
div#history-simple-detail {
    overflow: hidden;
}
/******************************************************
 * CHAT BOX
 *****************************************************/
.saisai-mobile-wrap .chat-box {position: relative;width: 100%;height:300px;color:#fff;display:none;}
.saisai-mobile-wrap .chat-box .chat-list-box{position: relative;top: 15px;left: 0px;width: 100%;height: 230px;overflow-y:auto;overflow-x:hidden;}
.saisai-mobile-wrap .chat-box .input-box-border {position: relative;width: 100%;top:5px;height: 30px;border-radius: 20px;background-color: #1d1a13;border: 1px solid #29261f;}
.saisai-mobile-wrap .chat-box .input-box-border input {background-color:transparent;width: 100%;height:30px;color:#fff;border:0;outline:none;box-shadow:none;}
.saisai-mobile-wrap .chat-box .send-button {position: relative;top:10px; width: 100%;height: 30px;line-height: 30px;text-align: center;color: #fff;outline:1px solid #222;outline:-3px;}

/******************************************************
 * LOG BOX
 *****************************************************/
.saisai-mobile-wrap .log-box {position: relative;width: 100%;height:300px;color:#fff;display:none;}
.saisai-mobile-wrap .log-box .log-list-box{position: relative;top: 15px;left: 0px;width: 100%;height: 230px;overflow-y:auto;overflow-x:hidden;}
.saisai-mobile-wrap .log-box .input-box-border {position: relative;width: 100%;top:5px;height: 30px;border-radius: 20px;background-color: #1d1a13;border: 1px solid #29261f;}
.saisai-mobile-wrap .log-box .input-box-border input {background-color:transparent;width: 100%;height:30px;color:#fff;border:0;outline:none;box-shadow:none;}
.saisai-mobile-wrap .log-box .send-button {position: relative;top:10px; width: 100%;height: 30px;line-height: 30px;text-align: center;color: #fff;outline:1px solid #222;outline:-3px;}


/******************************************************
 * EFFECT
 *****************************************************/
 .flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.flicker_three {-webkit-animation: flickerAnimation 500ms 3;-moz-animation: flickerAnimation 500ms 3;-o-animation: flickerAnimation 500ms 3;animation: flickerAnimation 500ms 3;}
@-webkit-keyframes effect-bet-panel {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}25%, 50% {opacity: 1;}to {opacity: 1;-webkit-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}}
@keyframes effect-bet-panel {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}25%, 50% {opacity: 1;}to {opacity: 1;-webkit-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes spin2 { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }
@-moz-keyframes spin3 { 100% { -moz-transform: rotate(-90deg); } }
@-webkit-keyframes spin3 { 100% { -webkit-transform: rotate(-90deg); } }
@keyframes spin3 { 100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } }
@-webkit-keyframes rotate-right {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes rotate-right {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes flickerAnimation {0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-o-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-moz-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-webkit-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
/****************
*1225
*****************/
.saisai-mobile-wrap .history-box .history-all .label-back {
    position:absolute;
    right:3px;
    bottom:3px;
    width:60px;
    height:25px;
    border-radius: 5px;
    background-color:#222;
    opacity:0.5;
}
.input-box-border {
    width: 65%;
    float: left;
}

input.input-box-text {
    width: 100%;
    border: none;
    padding: 8px 10px 8px 10px;
    background: #1A1A1A;
    color: #ddd;
}

.info-box .send-button {
    width: 15%;
    float: left;
    padding: 9px;
    background: #000;
    color: #29C327;
    text-align: center;
}
.saisai-mobile-wrap .history-box .history-title {
    position:relative;
    width: inherit;
    height: 30px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    background-color: #D8C79B;
}
.saisai-mobile-wrap .history-box .history-label {
    position:relative;
    margin-top:3px;
    float:right;
    width: 100%;
    height:25px;
    line-height: 25px;
    text-align:center;
    background-color: #D8C79B;
    /* border-radius: 5px; */
    color:#222;
}

.betting-panel.betting-overlay {
    position: absolute;
    z-index: 999999;
    display: none;
}

.saisai-mobile-wrap .btn-special .rate-label {
position: absolute;
width: 100%;
text-align: center;
font-size: 24px;
top: 80px;
}
.saisai-mobile-wrap .btn-special .left-number {
position: absolute;
left: 10px;
top: 130px;
font-size: 25px;
font-weight: bold;
}

.saisai-mobile-wrap .btn-special .right-number {
position: absolute;
right: 10px;
top: 130px;
font-size: 25px;
font-weight: bold;
}
.saisai-mobile-wrap .btn-special .center-number {
width: 50px;
height: 50px;
position: absolute;
top: 128px;
left: 50%;
margin-left: -25px;
text-align: center;
font-size: 30px;
font-weight: bold;
}