@charset "utf-8";
html {overflow-y:scroll}
body {margin:0;padding:0;font-family:'dotum', dotum, sans-serif;background:#e7e7e7}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'dotum', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family:'dotum', dotum, sans-serif;font-size:1em}
input[type="submit"]{cursor:pointer}
button {cursor:pointer}
textarea, select {font-family:'dotum', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}
*, :after, :before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

html,body {background-color:#222;color:#fff;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: moz-none;-ms-user-select: none;user-select: none;}
input:focus {outline:none;}



/******************************************************
 * VIDEO
 *****************************************************/
.saisai-wrap .video {position:relative;width:838px;height:472px;z-index:1040;}
.saisai-wrap .video-mobile {position:absolute;width:838px;height:472px}
.saisai-wrap .video #count-down {position: absolute;width: 160px;top: 0px;left: 0px;z-index: 1040;opacity:0;}
.saisai-wrap .video .win-box {position: absolute;z-index: 1050;top: 185px;width: 482px;height: 140px;left: 50%;margin-left: -241px;display:none;}

/******************************************************
 * LOG PANEL
 *****************************************************/
.saisai-wrap .saisai-title {position:relative;width:838px;height:45px;line-height:45px;background-color:#128607;outline:2px solid #14a107;outline-offset: -2px;}
.saisai-wrap .saisai-title .title {position:absolute;width:300px;height:45px;line-height: 45px;text-align:center;left:50%;margin-left:-150px;}
.saisai-wrap .saisai-title .history-show {position:absolute;width:210px;height:45px;line-height: 45px;text-align:center;right:0px;cursor: pointer;background-color:#0b6203;color:#94ff89;font-weight:bold;}
.saisai-wrap .saisai-title .history-show:hover {background-color:#0b6203;   }
.saisai-wrap .saisai-chat-box {position: relative;width: 838px;height: 34px;border: 1px solid #3d3d3d;margin-top: 3px;margin-bottom: 3px;}
.saisai-wrap .saisai-chat-box .title{position:absolute;left:0px;top:0px;width:120px;height:34px;line-height:34px;text-align:center;color:#27c317;}
.saisai-wrap .saisai-chat-box .input-box {position: absolute;left: 120px;top: 2px;width: 660px;height: 28px;line-height: 28px;text-align: center;background-color: #1a1a1a;}
.saisai-wrap .saisai-chat-box .input-box input {background-color:transparent;width:100%;height:30px;line-height: 30px;border:0px;color: #fff;font-size:11px;padding-left:3px;padding-left:3px;}
.saisai-wrap .saisai-chat-box .send-button {position:absolute;right:0px;top:0px;width:55px;height:34px;line-height:34px;text-align:center;color:#27c317;}
/******************************************************
 * MESSAGE
 *****************************************************/
.saisai-wrap .video .message-box {position: absolute;width: 320px;height: 30px;line-height: 30px;text-align: center;color: #fff;left: 50%;margin-left: -160px;top: 200px;font-size: 16px;display:none;}

/******************************************************
 * CHIP
 *****************************************************/
.saisai-wrap .chip-box-one {position:relative;left:0px;width:838px;height:80px;background-color:#000;outline:2px solid #262626;outline-offset:-2px;}
.saisai-wrap .chip-box-one .chip-box {position: absolute;width: 510px;height: 80px;left:20px;line-height: 80px;z-index: 1060;cursor: pointer;}
.saisai-wrap .chip-box-one .chip-box ul {list-style: none;padding:0px;margin:0 auto;}
.saisai-wrap .chip-box-one .chip-box ul li {float: left;width:85px;height:60px;}
.saisai-wrap .chip-box-one .chip-box ul.chip li a {display:block;cursor:pointer;width:80px;height:80px;line-height:80px;text-align:center;}
.saisai-wrap .chip-box-one .chip-box ul.chip li a img{width:60px;height:60px;}
.saisai-wrap .chip-box-one .chip-box ul.chip li a img.flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.saisai-wrap .chip-box-one .chip-box ul.money li a {display:block;width:66px;height:20px;line-height:20px;color:#fff;text-align:center;}
.saisai-wrap .chip-box-one .chip-box ul.money li a.flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.saisai-wrap .chip-box-one .confirm-button-box {position: absolute;right: 0px;width: 310px;outline: 2px solid #262626;outline-offset: -2px;height: 80px;}
.saisai-wrap .chip-box-one .confirm-button-box ul {list-style: none;padding:0px;margin:0 auto;}
.saisai-wrap .chip-box-one .confirm-button-box ul li {float: left;width:155px;height:80px;line-height:80px;text-align:center;}
.saisai-wrap .chip-box-one .confirm-button-box ul li a {display:block;cursor:pointer;width:147px;height:80px;margin:0 auto;}

.saisai-wrap .chip-box-one .chip-box .btn-chip-confirm {position:absolute;width:104px;height:35px;text-align:center;line-height: 35px;bottom:-40px;left:30px;}

.saisai-wrap .chip-box-two {display:none;position:relative;left:0px;width:838px;height:80px;background-color:#000;outline:2px solid #262626;outline-offset:-2px;}
.saisai-wrap .chip-box-two .label-box {position: absolute;width: 510px;height: 80px;line-height: 80px;text-align: center;}
.saisai-wrap .chip-box-two .confirm-button-box {position: absolute;right: 0px;width: 310px;outline: 2px solid #262626;outline-offset: -2px;height: 80px;}
.saisai-wrap .chip-box-two .confirm-button-box ul {list-style: none;padding:0px;margin:0 auto;}
.saisai-wrap .chip-box-two .confirm-button-box ul li {float: left;width:155px;height:80px;line-height:80px;text-align:center;}
.saisai-wrap .chip-box-two .confirm-button-box ul li a {display:block;cursor:pointer;width:147px;height:80px;margin:0 auto;}
.flicker {-webkit-animation: flickerAnimation 500ms infinite;-moz-animation: flickerAnimation 500ms infinite;-o-animation: flickerAnimation 500ms infinite;animation: flickerAnimation 500ms infinite;}
.flicker_three {-webkit-animation: flickerAnimation 500ms 3;-moz-animation: flickerAnimation 500ms 3;-o-animation: flickerAnimation 500ms 3;animation: flickerAnimation 500ms 3;}
/******************************************************
 * BETTING PANEL
 *****************************************************/
.saisai-wrap .betting-panel {position: relative;width: 838px;height: 274px;}
.saisai-wrap .betting-panel .betting-title {position:absolute;top:0px;left:0px;width:838px;height:30px;line-height:30px;background-color:#128607;outline:2px solid #14a107;outline-offset: -2px;}
.saisai-wrap .betting-panel .betting-btn-box {position:absolute;left:0px;top:0px;width:838px;height:274px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-bet {cursor:pointer;}
.saisai-wrap .betting-panel .betting-btn-box .btn-bet .rate-label-rate {font-size:18px;font-weight:bold;}
.saisai-wrap .betting-panel .betting-btn-box .btn-bet .rate-label-1 {position: absolute;width:100px;left:50%;margin-left:-50px;top: 60px;text-align: center;}
.saisai-wrap .betting-panel .betting-btn-box .btn-bet .rate-label-2 {position: absolute;width: 100px;right:25px;top: 60px;text-align: center;}
.saisai-wrap .betting-panel .betting-btn-box .btn-bet .rate-label-3 {position: absolute;width: 100px;right:40px;top: 20px;text-align: center;}
.saisai-wrap .betting-panel .betting-btn-box .btn-bet .rate-label-4 {width: 100%;position: absolute;top: 150px;text-align: center;}
.saisai-wrap .betting-panel .betting-btn-box .btn-bet .left-number {position: absolute;width: 20px;height: 20px;line-height: 20px;font-size: 24px;font-weight: bold;top: 82px;left: 3px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-bet .right-number {position: absolute;width: 20px;height: 20px;line-height: 20px;font-size: 24px;font-weight: bold;top: 82px;right: 3px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-odd {position:absolute;left:0px;top:0px;width: 183px;height: 101px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-odd .bet-money {position:absolute;width:100%;height:25px;bottom:0px;text-align:center;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-even {position:absolute;left:184px;top:0px;width: 183px;height: 101px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-even .bet-money {position:absolute;width:100%;height:25px;bottom:0px;text-align:center;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-black {position:absolute;left:0px;top:103px;width: 183px;height: 101px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-black .bet-money {position:absolute;width:100%;height:25px;bottom:0px;text-align:center;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-red {position:absolute;left:184px;top:103px;width: 183px;height: 101px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-red .bet-money {position:absolute;width:100%;height:25px;bottom:0px;text-align:center;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-special {position:absolute;left:368px;top:0px;width: 102px;height: 204px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-special .bet-money {position:absolute;width:100%;height:25px;bottom:0px;text-align:center;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-spade {position:absolute;left:471px;top:0px;width: 183px;height: 101px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-spade .bet-money {position:absolute;width:100%;height:25px;bottom:0px;text-align:center;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-heart {position:absolute;left:471px;top:103px;width: 183px;height: 101px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-heart .bet-money {position:absolute;width:100%;height:25px;bottom:0px;text-align:center;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-diamond {position:absolute;left:655px;top:0px;width: 183px;height: 101px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-diamond .bet-money {position:absolute;width:100%;height:25px;bottom:0px;text-align:center;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-clover {position:absolute;left:655px;top:103px;width: 183px;height: 101px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-clover .bet-money {position:absolute;width:100%;height:25px;bottom:0px;text-align:center;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-low {position:absolute;left:0px;top:205px;width: 279px;height: 69px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-low .bet-money {position:absolute;width:98%;height:25px;bottom:0px;text-align:right;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-middle {position:absolute;left:280px;top:205px;width: 278px;height: 69px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-middle .bet-money {position:absolute;width:98%;height:25px;bottom:0px;text-align:right;line-height:25px;}

.saisai-wrap .betting-panel .betting-btn-box .btn-high {position:absolute;left:559px;top:205px;width: 279px;height: 69px;}
.saisai-wrap .betting-panel .betting-btn-box .btn-high .bet-money {position:absolute;width:98%;height:25px;bottom:0px;text-align:right;line-height:25px;}

/******************************************************
 * CARDS
 *****************************************************/
.saisai-wrap .betting-panel .card-box-blind {position: absolute;left: 0px;top: 0px;width: 838px;height: 275px;z-index:1020;background-color:#000;opacity:0.7;display:none;}
.saisai-wrap .betting-panel .card-box {position: absolute;left: 0px;top: 0px;width: 838px;height: 275px;z-index:1030;;display:none;}

.saisai-wrap .betting-panel .card-box .cards.left-card{left: 180px;position: absolute;transition: all 1.5s cubic-bezier(0.68, 0.55, 1, 1);perspective: 1000;-ms-transform: perspective(1000px);-moz-transform: perspective(1000px);-ms-transform-style: preserve-3d;-moz-transform-style: preserve-3d;width: 100px;height: 170px;background-color: #eee;top:-500px;background-size:100% 100%;display:none;}
.saisai-wrap .betting-panel .card-box .cards.center-card{left: 50%;margin-left:-50px;position: absolute;transition: all 1.5s cubic-bezier(0.68, 0.55, 1, 1);perspective: 1000;-ms-transform: perspective(1000px);-moz-transform: perspective(1000px);-ms-transform-style: preserve-3d;-moz-transform-style: preserve-3d;width: 100px;height: 170px;background-color: #eee;top:-500px;background-size:100% 100%;display:none;}
.saisai-wrap .betting-panel .card-box .cards.right-card{right: 180px;position: absolute;transition: all 1.5s cubic-bezier(0.68, 0.55, 1, 1);perspective: 1000;-ms-transform: perspective(1000px);-moz-transform: perspective(1000px);-ms-transform-style: preserve-3d;-moz-transform-style: preserve-3d;width: 100px;height: 170px;background-color: #eee;top:-500px;background-size:100% 100%;display:none;}

.saisai-wrap .betting-panel .card-box .cards.left-card.left-card-show {left: 180px;margin-left:0px;top: 30px;-webkit-animation:spin 1.5s ease-in-out 0s;-moz-animation:spin 1.5s ease-in-out 0s;animation:spin 1.5s ease-in-out 0s;}
.saisai-wrap .betting-panel .card-box .cards.right-card.right-card-show {right: 180px;top: 30px;-webkit-animation:spin 1.5s ease-in-out 0s;-moz-animation:spin 1.5s ease-in-out 0s;animation:spin 1.5s ease-in-out 0s;}
.saisai-wrap .betting-panel .card-box .cards.center-card.center-card-show {left: 50%;margin-left:-50px;top: 30px;-webkit-animation:spin 1.5s ease-in-out 0s;-moz-animation:spin 1.5s ease-in-out 0s;animation:spin 1.5s ease-in-out 0s;}



/******************************************************
 * HISTORY BOX
 *****************************************************/

.saisai-wrap .history-box .title {position:absolute;width:100%;height:34px;line-height:34px;top:0px;left:0px;background-color:#118607;border:2px solid #14a107;text-align:center;}
.saisai-wrap .history-box .simple-history-box{position: relative;width:280px;height:120px;overflow:hidden;}
.saisai-wrap .history-box .detail-history-box{position:absolute;width:553px;height:120px;overflow:hidden;}
.simple-detail-history-box{position:absolute;width: 838px;height: 60px;overflow:hidden;bottom: 0;}
.saisai-wrap .history-box table {width:6200px;height:120px;}
.saisai-wrap .history-box td {width:18px;height:18px;padding:0px;border:1px solid #999;}
.saisai-wrap .history-box td .history-icon {width: 16px;height: 16px;background-size: 16px 16px;line-height: 16px;color: #000;text-align: center;margin: 0 auto;}

.saisai-wrap .history-box .detail-1-history-box {position:absolute;width:310px;height:60px;overflow:hidden;}
.saisai-wrap .history-box .detail-1-history-box table {width:3100px;;height:60px;}
.saisai-wrap .history-box .detail-1-history-box td {width:10px;height:10px;padding:0px;border:0px;}
.saisai-wrap .history-box .detail-1-history-box td .history-icon {width: 8px;height: 8px;background-size: 8px 8px;line-height: 18x;color: #fff;text-align: center;margin: 0 auto;}

.saisai-wrap .history-box .detail-2-history-box {position:absolute;width:152px;height:60px;overflow:hidden;}
.saisai-wrap .history-box .detail-2-history-box table {width:3100px;;height:60px;}
.saisai-wrap .history-box .detail-2-history-box td {width:10px;height:10px;padding:0px;border:0px;}
.saisai-wrap .history-box .detail-2-history-box td .history-icon {width: 8px;height: 8px;background-size: 8px 8px;line-height: 18x;color: #fff;text-align: center;margin: 0 auto;}

.saisai-wrap .history-box .detail-3-history-box {position:absolute;width:152px;height:60px;overflow:hidden;}
.saisai-wrap .history-box .detail-3-history-box table {width:3100px;;height:60px;}
.saisai-wrap .history-box .detail-3-history-box td {width:10px;height:10px;padding:0px;border:0px;}
.saisai-wrap .history-box .detail-3-history-box td .history-icon {width: 8px;height: 8px;background-size: 8px 8px;line-height: 18x;color: #fff;text-align: center;margin: 0 auto;}

.saisai-wrap .history-box .detail-history-box {top:0px;right:0px;}
.saisai-wrap .history-box .detail-1-history-box {top:185px;left:10px;}
.saisai-wrap .history-box .detail-2-history-box {left:10px;top:250px;}
.saisai-wrap .history-box .detail-3-history-box {top:250px;right:10px;}

.saisai-wrap .history-box .ch-tmp-point {position: absolute;left: 10px;bottom: 2px;width: 310px;height: 25px;line-height:25px;text-align: center;color: #fff;z-index: 1030;display:block;}
.saisai-wrap .history-box .title-point {position: absolute;left: 10px;top: 156px;width: 310px;height: 25px;line-height:25px;text-align: center;color: #fff;z-index: 1030;vertical-align: middle;display:block;}

.saisai-wrap .history-box .title-point ul {list-style: none;margin:0px;padding:0px;}
.saisai-wrap .history-box .title-point ul li {float:left;width:50%;font-size:15px;font-weight: bold;line-height:25px;}

.saisai-wrap .history-box .ch-tmp-point ul {list-style: none;margin:0px;padding:0px;}
.saisai-wrap .history-box .ch-tmp-point ul li {float:left;width:50%;font-size:15px;font-weight: bold;}

.saisai-wrap .history-box .ch-tmp-point ul li div{font-weight:bold;float:left;width:100%;margin-left:5px;margin-right:5px;}
.saisai-wrap .history-box .ch-tmp-point ul li .count_info{width: 200px;height: 23px;line-height: 18px;margin-bottom: 3px;font-size: 12px;font-weight: 700;}
.saisai-wrap .history-box .ch-tmp-point ul li .count_player{border:2px solid #51edff;border-radius:16px;color:#51edff}
.saisai-wrap .history-box .ch-tmp-point ul li .count_banker{border:2px solid #ff6d6d;border-radius:16px;color:#ff6d6d}
.saisai-wrap .history-box .ch-tmp-point ul li .count_odd{border:2px solid #595959;border-radius:16px;color:#595959}
.saisai-wrap .history-box .ch-tmp-point ul li .count_length{border:2px solid #aeff5d;border-radius:16px;color:#aeff5d}
.saisai-wrap .history-box .ch-tmp-point ul li .count_label{display:block;float:left;padding-left:5px}
.saisai-wrap .history-box .ch-tmp-point ul li .count_label_2{display:block;float:right;padding-right:10px}


/*.saisai-wrap .history-box .ch-history-nav {position: absolute;top: 300px;width: 420px;height: 30px;left: 10px;color: #fff;}
.saisai-wrap .history-box .ch-history-nav ul {list-style: none;padding:0px;margin:0px;}
.saisai-wrap .history-box .ch-history-nav ul li {float:left;width:25%;}
.saisai-wrap .history-box .ch-history-nav ul li a {display:block;width:100%;height:30px;line-height:30px;text-align:center;color:#fff;}*/
/******************************************************
 * AVATAR
 *****************************************************/
.saisai-wrap .avatar {position: absolute;width: 838px;height: 472px;top: 0px;outline:1px solid #222;outline-offset: -1px;z-index: 1010;}
.saisai-wrap .avatar img{width:100%;height:472px;}

/******************************************************
 * CHAT BOX
 *****************************************************/
.saisai-wrap .video .chat-list-box{position: absolute;top: 232px;right: 0px;width: 838px;height: 240px;background-color: #000;overflow-y: auto;overflow-x: hidden;padding:10px;opacity: 0.8;}
.saisai-wrap .chat-box .input-box {position:absolute;width:310px;height:40px;bottom:0px;left:5px;}
.saisai-wrap .chat-box .title{position: absolute;top: 0px;left: 0px;width: 330px;height: 30px;line-height: 30px;background-color: #000;outline: 1px solid #4c4c4c;outline-offset: -1px;text-align:center;}
.saisai-wrap .chat-box .chat-list-box{position: absolute;top: 35px;left: 5px;width: 310px;height: 230px;background-color: #000;overflow-y:auto;overflow-x:hidden;}
.saisai-wrap .chat-box .input-box .input-box-border {position: absolute;width: 265px;height: 30px;border-radius: 20px;background-color: #1d1a13;border: 1px solid #29261f;}
.saisai-wrap .chat-box .input-box .input-box-border input {background-color:transparent;width:250px;padding-left:10px;padding-right:10px;height:30px;color:#fff;border:0;outline:none;box-shadow:none;}
.saisai-wrap .chat-box .input-box .send-button {position: absolute;background-color: transparent;width: 50px;height: 30px;line-height: 30px;text-align: center;color: #fff;right: 0px;top: 0px;}


/******************************************************
 * EFFECT
 *****************************************************/
@-webkit-keyframes effect-bet-panel {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}25%, 50% {opacity: 1;}to {opacity: 1;-webkit-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}}
@keyframes effect-bet-panel {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}25%, 50% {opacity: 1;}to {opacity: 1;-webkit-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes spin2 { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }
@-moz-keyframes spin3 { 100% { -moz-transform: rotate(-90deg); } }
@-webkit-keyframes spin3 { 100% { -webkit-transform: rotate(-90deg); } }
@keyframes spin3 { 100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } }
@-webkit-keyframes rotate-right {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes rotate-right {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes flickerAnimation {0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-o-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-moz-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-webkit-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
/**************************************************
* 1225 ADD
**************************************************/
.baccarat-title .title,
.buttonBox {
    text-align: left;
    float: left
}
.chip-box-one .chip-bw {
    position: absolute;
    width: 510px;
    height: 80px;
    left: 10px;
    line-height: 80px;
    z-index: 1060;
    cursor: pointer;
    display: none
}
.baccarat-title,
.buttonBox {
    position: relative;
    height: 45px
}
.btn-bet {
    opacity: 1;
    transition: opacity .1s
}
.btn-bet:active {
    opacity: .4
}
.game-desc,
.official-list {
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    z-index: 99999999;
    display: none
}
.buttonBox {
    width: 33.33333%;
    line-height: 45px
}
.buttonBox img {
    float: left;
    width: auto;
    margin: 7px 4px
}
.baccarat-title {
    width: 838px;
    line-height: 45px;
    background-color: #128607;
    outline: #14a107 solid 2px;
    outline-offset: -2px
}
.baccarat-title .money,
.baccarat-title .title {
    width: 33.33333%;
    line-height: 45px;
    padding: 0 15px;
    position: relative
}
.baccarat-title .button,
.baccarat-title .button:hover {
    background-color: #0b6203
}
.baccarat-title .money {
    text-align: right;
    float: right
}
.baccarat-title .title strong {
    color: #aeff5d
}
.baccarat-title .button {
    position: relative;
    width: 30.33333%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    float: left;
    margin: 7px 4px
}
.baccarat-chat-box {
    position: relative;
    width: 838px;
    height: 34px;
    border: 1px solid #3d3d3d;
    margin-top: 3px
}
.baccarat-chat-box .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #27c317
}
.baccarat-chat-box .input-box {
    position: absolute;
    left: 120px;
    top: 2px;
    width: 660px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #1a1a1a
}
.baccarat-chat-box .input-box input {
    background-color: transparent;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 0;
    color: #fff;
    font-size: 11px;
    padding-left: 3px
}
.baccarat-chat-box .send-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #27c317
}
.game-desc {
    position: absolute;
    top: 6px;
    width: auto;
    height: auto;
    left: calc(50% - 300px)
}
.official-list,
.saisai-wrap,
.saisai-wrap .history-box {
    position: relative;
    width: 838px;
}
.official-list {
    top: 182px;
    height: 290px;
    background-color: #000;
    padding: 10px
}
.saisai-wrap {
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 12px
}
.saisai-wrap .history-box {
    height: 185px;
    z-index: 999999;
    background: #000;
}
table#history_simple_detail_record {
    height: 62px !important;
}

table#history_simple_detail_record td {
    height: 15px !important;
}