@charset "utf-8";

/* 초기화 */
html {overflow-y:scroll;height:100%;margin-top:-20px;}
body {margin:0;padding:0;color:#000;font-size:12px;font-family:sans-serif;width:100%;background:#141414;font-family:'돋움', dotum, sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
legend {position:absolute;width:1px;height:1px;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sir-head ul, header ul, nav ul, #sir-tail ul {margin:0;padding:0;list-style:none}
p {margin:0;padding:0;line-height:1.6em;word-break:break-all}
label, input, select, img, button {margin:0;padding:0}
textarea{font-family:sans-serif}
input {border-radius:0}
button {margin:0;border-radius:0;font-family:sans-serif;cursor:pointer;border:0;font-size:1em}
input[type=text], input[type=password], input[type=submit], input[type=image], button {-webkit-appearance:none}
pre {overflow-x:scroll;font-size:1em}
select {margin:0;font-size:0.857em}
hr {display:none}
iframe#hiddenframe {display:none;width:0;height:0}
a, a:link, a:visited, a:active {color:#000;text-decoration:none}
a:focus, a:hover {text-decoration:none}
ul,li,ol,dd,dt,dl{list-style:none;padding:0;margin:0}
table{border-collapse:collapse}
.sound_only,#hd_pop h2{position: absolute;margin: 0 !important;padding: 0 !important;font-size: 0;text-indent: -9999em;line-height: 0;overflow: hidden;}

*, :after, :before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html,body {background-color:#222;color:#fff;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: moz-none;-ms-user-select: none;user-select: none;touch-action: manipulation;}
.bacc-mobile-wrap {position:relative;width:100%;}

.bacc-mobile-wrap .video-box .message-box {position: absolute;width: 320px;height: 30px;line-height: 30px;text-align: center;color: #fff;left: 50%;margin-left: -160px;top: 10px;font-size: 12px;display:none;z-index:1050;}
.bacc-mobile-wrap .video-box .win-box {position: absolute;width: 320px;height: 30px;line-height: 30px;text-align: center;color: #fff;left: 50%;margin-left: -160px;bottom: 10px;font-size: 12px;z-index:1050;}


/********************************************************************
* WIN BOX
*******************************************************************/
.bacc-mobile-wrap .win-box {position:relative;width:100%;display:none;}
.bacc-mobile-wrap .win-box img {width:100%;}

/********************************************************************
* VIDEO BOX
*******************************************************************/
.bacc-mobile-wrap .video-box {position:relative;width:100%;}
.bacc-mobile-wrap .video-box .card-box {position:absolute;top:0px;width:100%;}

.bacc-mobile-wrap .video-box .card-box .card-players,
.bacc-mobile-wrap .video-box .card-box .card-bankers {position:absolute;width:40px;height:60px;background-color:#fff;background-size:100% 100%;}

.bacc-mobile-wrap .video-box .card-box .card-players.card-player-1 {position: absolute;top: 12px;left: 10px}
.bacc-mobile-wrap .video-box .card-box .card-players.card-player-2 {position: absolute;top: 12px;left: 55px}
.bacc-mobile-wrap .video-box .card-box .card-players.card-player-3 {position: absolute;top: 65px;left: 35px;transform: rotate(270deg)}

.bacc-mobile-wrap .video-box .card-box .card-bankers.card-banker-1 {position: absolute;top: 12px;right: 55px}
.bacc-mobile-wrap .video-box .card-box .card-bankers.card-banker-2 {position: absolute;top: 12px;right: 10px}
.bacc-mobile-wrap .video-box .card-box .card-bankers.card-banker-3 {position: absolute;top: 65px;right: 35px;transform: rotate(-270deg)}
.bacc-mobile-wrap .video-box .count-box {position: absolute;left: 50%;bottom: 0px;width: 160px;margin-left: -80px;opacity:0;zoom: 0.5;-moz-transform: scale(0.5);}

/******************************************************
 * CHIP
 *****************************************************/
.bacc-mobile-wrap .chip-box-outer {position:relative;width:100%;height:67px;}
.bacc-mobile-wrap .chip-box-outer .chip-box-inner {position:absolute;top:3px;left:3px;right:3px;height:60px;outline:1px solid #0a0a0a;overflow-x:auto;overflow-y:hidden;}
.bacc-mobile-wrap .chip-box-outer .chip-box-inner .notice {position: absolute;top:16px;width:100%;text-align:center;color:#929292;font-weight: bold;display:none;}
.bacc-mobile-wrap .chip-box-outer .chip-box-inner ul {width:355px;list-style: none;margin:0 auto;display:none;}
.bacc-mobile-wrap .chip-box-outer .chip-box-inner ul li {float:left;}
.bacc-mobile-wrap .chip-box-outer .chip-box-inner ul li a {display:block;width:46px;height:46px;margin-top:8px;margin-bottom:8px;margin-left:6px;margin-right:6px;}
.bacc-mobile-wrap .chip-box-outer .chip-box-inner ul li a img {width:46px;height:46px;}
/*.bacc-mobile-wrap .chip-box {position:relative;width:100%;z-index:1100;cursor:pointer;overflow-y:hidden;}
.bacc-mobile-wrap .chip-box .scroll {width:550px;}
.bacc-mobile-wrap .chip-box .scroll ul {list-style: none;padding:0px;margin:0 auto;}
.bacc-mobile-wrap .chip-box .scroll ul li {float: left}
.bacc-mobile-wrap .chip-box .scroll ul.chip li a {display:block;cursor:pointer;text-align:center;width:90px;height:64px;line-height:64px;text-align:center;}
.bacc-mobile-wrap .chip-box .scroll ul.chip li a img {width:64px;}
.bacc-mobile-wrap .chip-box .scroll ul.chip li a img.flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.bacc-mobile-wrap .chip-box .scroll ul.money li a {display:block;width:66px;height:20px;line-height:20px;color:#fff;text-align:center;}
.bacc-mobile-wrap .chip-box .scroll ul.money li a.flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.bacc-mobile-wrap .chip-box .btn-chip-confirm {position:relative;width:148px;height:33px;text-align:center;line-height: 33px;bottom:-40px;left:120px;}
.bacc-mobile-wrap .chip-box .btn-chip-reset {position:relative;width:148px;height:33px;text-align:center;line-height: 33px;bottom:-40px;right:120px;}
.bacc-mobile-wrap .bet-confirm-box {position: relative;width: 100%;height: 90px;bottom: 50px;left: 50%;margin-left: -275px;z-index: 1060;cursor: pointer;display:none;}
.bacc-mobile-wrap .bet-confirm-box .message {position:relative;width:100%;height:90px;line-height:90px;text-align:center;font-size:20px;font-weight: bold;}
.bacc-mobile-wrap .bet-confirm-box .btn-chip-ok {position:relative;width:148px;height:33px;text-align:center;line-height: 33px;bottom:-40px;left:120px;}
.bacc-mobile-wrap .bet-confirm-box .btn-chip-cancel {position:relative;width:148px;height:33px;text-align:center;line-height: 33px;bottom:-40px;right:120px;}
.bacc-mobile-wrap .btn-confirm-box {position:relative;width:100%;height:45px;}
.bacc-mobile-wrap .btn-confirm-box ul {list-style: none;margin:0px;padding:0px;}
.bacc-mobile-wrap .btn-confirm-box ul li {float:left;width:50%;text-align:center;}
.bacc-mobile-wrap .btn-confirm-box ul li.btn-chip-confirm a {display:block;}
.bacc-mobile-wrap .btn-confirm-box ul li.btn-chip-reset a {display:block;}
.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-one {}
.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-two {display:none;}*/

.bacc-mobile-wrap .btn-confirm-box {
    position:relative;
    width:100%;
    height:40px;
    display:none;
}

.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-one {
    width:100%;
    height:35px;
}

.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-one ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-one ul li {
    float:left;
    width:50%;
}

.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-one ul li a {
    display:block;
    width:98%;
    height:35px;
    line-height:35px;
    text-align:center;
    margin:0 auto;
}

.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-one ul li.btn-chip-reset a {
    color:#fff;
}

.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-two {
    position:absolute;
    width:100%;
    height:35px;
    display:none;
}

.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-two label{
    position: absolute;
    left:5px;
    width: 60%;
    height: 35px;
    line-height: 35px;
    color: #000;
}

.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-two .btn-chip-ok {
    position: absolute;
    top: 3px;
    width: 70px;
    right: 90px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

.bacc-mobile-wrap .btn-confirm-box .btn-confirm-box-two .btn-chip-cancel {
    position: absolute;
    top: 3px;
    width: 70px;
    right: 10px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

/********************************************************************
* INFORMATION BOX
*******************************************************************/
.bacc-mobile-wrap .info-box {
    position:relative;
    width:100%;
    height: 36px;
    border: 1px solid #000;
    margin-top: -6px;
}

.bacc-mobile-wrap .info-box .livechat {
    position: relative;
    width: 20%;
    height:35px;
    line-height:35px;
    text-align:center;
    color: #29C327;
    background: #000;
    float: left;
}

.bacc-mobile-wrap .info-box .bet-info-box-empty {
    position:absolute;
    right:0px;
    width:70%;
    height:35px;
    line-height:35px;
    text-align:center;
    color:#000;
}

.bacc-mobile-wrap .info-box .bet-info-box-confirm {
    position:absolute;
    right:0px;
    width:70%;
    height:35px;
    line-height:35px;
    text-align:left;
    color:#000;
    overflow:hidden;
}

/********************************************************************
* BETTING PANEL
*******************************************************************/
.bacc-mobile-wrap .betting-panel {position: relative;width: 100%;height:150px;}
.bacc-mobile-wrap .betting-panel .btn-player-pair {position:absolute;top:0px;left:3px;width:49%;height:55px;background-color:#003d5f;outline:1px solid #0162a7;outline-offset:-1px;opacity:1;transition:background-color 1000ms}
.bacc-mobile-wrap .betting-panel .btn-player-pair:active {background-color: #000 !important;transition:background-color 50ms;}
.bacc-mobile-wrap .betting-panel .btn-player-pair .label{position:absolute;top:1px;left:10px;height:50px;line-height: 50px;color:#fff;}
.bacc-mobile-wrap .betting-panel .btn-player-pair .rate {position:absolute;right:10px;height:50px;line-height:50px;color:#fff;}
.bacc-mobile-wrap .betting-panel .btn-player-pair .bet-money {position: absolute;width: 75px;height: 50px;left: 45px;line-height: 50px;text-align: center;color: #fff;}
.bacc-mobile-wrap .betting-panel .btn-banker-pair {position:absolute;top:0px;right:3px;width:49%;height:55px;background-color:#860001;outline:1px solid #a71400;outline-offset:-1px;transition:background-color 1000ms}
.bacc-mobile-wrap .betting-panel .btn-banker-pair:active {background-color: #000 !important;transition:background-color 50ms;}
.bacc-mobile-wrap .betting-panel .btn-banker-pair .label{position:absolute;top:1px;left:10px;height:50px;line-height: 50px;color:#fff;}
.bacc-mobile-wrap .betting-panel .btn-banker-pair .rate {position:absolute;right:10px;height:50px;line-height:50px;color:#fff;}
.bacc-mobile-wrap .betting-panel .btn-banker-pair .bet-money {position: absolute;width: 75px;height: 55px;left: 45px;line-height: 50px;text-align: center;color: #fff;}
.bacc-mobile-wrap .betting-panel .btn-player {position:absolute;top:60px;left:3px;width:39%;height:83px;background-color:#003d5f;outline:1px solid #0162a7;outline-offset:-1px;transition:background-color 1000ms}
.bacc-mobile-wrap .betting-panel .btn-player:active {background-color: #000 !important;transition:background-color 50ms;}
.bacc-mobile-wrap .betting-panel .btn-player .label{position:absolute;top:50%;left:50%;width:100px;margin-left:-50px;margin-top:-15px;height:30px;line-height: 30px;color:#fff;text-align:center;}
.bacc-mobile-wrap .betting-panel .btn-player .bet-money-box {position: absolute;width: 100%;height: 20px;left: 0px;bottom: 1px;line-height: 20px;text-align: center;color: #fff;background-color: #000;opacity: 0.6;   }
.bacc-mobile-wrap .betting-panel .btn-player .bet-money {position: absolute;width: 100%;height: 20px;left: 0px;bottom: 1px;line-height: 20px;text-align: center;color: #fff;}
.bacc-mobile-wrap .betting-panel .btn-banker {position:absolute;top:60px;right:3px;width:39%;height:83px;background-color:#860001;outline:1px solid #a71400;outline-offset:-1px;transition:background-color 1000ms}
.bacc-mobile-wrap .betting-panel .btn-banker:active {background-color: #000 !important;transition:background-color 50ms;}
.bacc-mobile-wrap .betting-panel .btn-banker .label{position:absolute;top:50%;left:50%;width:100px;margin-left:-50px;margin-top:-15px;height:30px;line-height: 30px;color:#fff;text-align:center;}
.bacc-mobile-wrap .betting-panel .btn-banker .bet-money-box {position: absolute;width: 100%;height: 20px;left: 0px;bottom: 1px;line-height: 20px;text-align: center;color: #fff;background-color: #000;opacity: 0.6;   }
.bacc-mobile-wrap .betting-panel .btn-banker .bet-money {position: absolute;width: 100%;height: 20px;left: 0px;bottom: 1px;line-height: 20px;text-align: center;color: #fff;}
.bacc-mobile-wrap .betting-panel .btn-tie {position:absolute;top:60px;left:50%;margin-left:-10%;width:20%;height:83px;background-color:#0c6c00;outline:1px solid #147502;outline-offset:-1px;transition:background-color 1000ms}
.bacc-mobile-wrap .betting-panel .btn-tie:active {background-color: #000 !important;transition:background-color 50ms;}
.bacc-mobile-wrap .betting-panel .btn-tie .bet-money-box {position: absolute;width: 100%;height: 20px;left: 0px;bottom: 1px;line-height: 20px;text-align: center;color: #fff;background-color: #000;opacity: 0.6;   }
.bacc-mobile-wrap .betting-panel .btn-tie .label{position:absolute;top:50%;left:50%;width:100px;margin-left:-50px;margin-top:-15px;height:30px;line-height: 30px;color:#fff;text-align:center;}
.bacc-mobile-wrap .betting-panel .btn-tie .bet-money {position: absolute;width: 100%;height: 20px;left: 0px;bottom: 1px;line-height: 20px;text-align: center;color: #fff;}

/********************************************************************
* NAVIGATION BOX
*******************************************************************/
.bacc-mobile-wrap .nav-box {position:relative;width:100%;height:32px;background-repeat: repeat-x;background: #12A107;}
.bacc-mobile-wrap .nav-box ul {list-style: none;margin:0px;padding:0px;width: 100%;}
.bacc-mobile-wrap .nav-box ul li {float:left;width: 32.5333%;margin: 1px 0.4%;background: #0E5E05;}
.bacc-mobile-wrap .nav-box ul li a {display:block;width:100%;height: 30px;line-height: 30px;text-align:center;color: #fff;}

/******************************************************
 * HISTORY BOX
 *****************************************************/
.bacc-mobile-wrap .history-box {position:relative;width:100%;background-color: #D8C79B;border-top: 1px solid #999;}
.bacc-mobile-wrap .history-box .title {position:absolute;width:100%;height:34px;line-height:34px;top:0px;left:0px;background-color:#118607;border:2px solid #14a107;text-align:center;}
.bacc-mobile-wrap .history-box .simple-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden;background-image: url("/assets/img/history/background.png?v=1514105786");}
.bacc-mobile-wrap .history-box .detail-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden}
.bacc-mobile-wrap .history-box .detail-1-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden}
.bacc-mobile-wrap .history-box .detail-2-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden}
.bacc-mobile-wrap .history-box .detail-3-history-box{background-image: url(/assets/img/history/background.png?v=1514105786);position:relative;width:100%;height:115px;overflow:hidden}
.bacc-mobile-wrap .history-box .history-all .label-back {
    position:absolute;
    right:3px;
    bottom:3px;
    width:60px;
    height:25px;
    border-radius: 5px;
    background-color:#222;
    opacity:0.5;
}
.input-box-border {
    width: 65%;
    float: left;
}

input.input-box-text {
    width: 100%;
    border: none;
    padding: 8px 10px 8px 10px;
    background: #1A1A1A;
    color: #ddd;
}

.info-box .send-button {
    width: 15%;
    float: left;
    padding: 9px;
    background: #000;
    color: #29C327;
    text-align: center;
}
.bacc-mobile-wrap .history-box .history-title {
    position:relative;
    width: inherit;
    height: 30px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    background-color: #D8C79B;
}
.bacc-mobile-wrap .history-box .history-label {
    position:relative;
    margin-top:3px;
    float:right;
    width: 100%;
    height:25px;
    line-height: 25px;
    text-align:center;
    background-color: #D8C79B;
    /* border-radius: 5px; */
    color:#222;
}
.betting-panel.betting-overlay {
    position: absolute;
    z-index: 999999;
    display: none;
}
.simple-detail-history-box table{background-image: url(/assets/img/history/background.png?v=1514105786);height: 66px !important;}
.bacc-mobile-wrap .history-box table {width:6200px;height:115px;}
.bacc-mobile-wrap .history-box td {width:18px;height:18px;padding:0px;border: 1px solid #999;}
.bacc-mobile-wrap .history-box td .history-icon {width: 16px;height: 16px;background-size: 16px 16px;line-height: 16px;color: #000;text-align: center;margin: 0 auto;}

.bacc-mobile-wrap .history-box .ch-tmp-point {position: absolute;left: 10px;bottom: 2px;width: 420px;height: 25px;line-height:25px;text-align: center;color: #fff;z-index: 1030;}
.bacc-mobile-wrap .history-box .title-point {position: absolute;left: 10px;top: 45px;width: 420px;height: 25px;line-height:25px;text-align: center;color: #fff;z-index: 1030;}

.bacc-mobile-wrap .history-box .title-point ul {list-style: none;margin:0px;padding:0px;}
.bacc-mobile-wrap .history-box .title-point ul li {float:left;width:20%;font-size:15px;font-weight: bold;}

.bacc-mobile-wrap .history-box .ch-tmp-point ul {list-style: none;margin:0px;padding:0px;}
.bacc-mobile-wrap .history-box .ch-tmp-point ul li {float:left;width:50%;font-size:15px;font-weight: bold;}

.bacc-mobile-wrap .history-box .ch-tmp-point ul li div{font-weight:bold;float:left;width:100%;margin-left:5px;margin-right:5px;}
.bacc-mobile-wrap .history-box .ch-tmp-point ul li .count_info{width: 200px;height: 23px;line-height: 18px;margin-bottom: 3px;font-size: 12px;font-weight: 700;}
.bacc-mobile-wrap .history-box .ch-tmp-point ul li .count_player{border:2px solid #51edff;border-radius:16px;color:#51edff}
.bacc-mobile-wrap .history-box .ch-tmp-point ul li .count_banker{border:2px solid #ff6d6d;border-radius:16px;color:#ff6d6d}
.bacc-mobile-wrap .history-box .ch-tmp-point ul li .count_odd{border:2px solid #595959;border-radius:16px;color:#595959}
.bacc-mobile-wrap .history-box .ch-tmp-point ul li .count_length{border:2px solid #aeff5d;border-radius:16px;color:#aeff5d}
.bacc-mobile-wrap .history-box .ch-tmp-point ul li .count_label{display:block;float:left;padding-left:5px}
.bacc-mobile-wrap .history-box .ch-tmp-point ul li .count_label_2{display:block;float:right;padding-right:10px}
div#history-simple-detail {
    overflow: hidden;
}
/******************************************************
 * CHAT BOX
 *****************************************************/
.bacc-mobile-wrap .chat-box {position: relative;width: 100%;height:300px;color:#fff;display:none;}
.bacc-mobile-wrap .chat-box .chat-list-box{position: relative;top: 15px;left: 0px;width: 100%;height: 230px;overflow-y:auto;overflow-x:hidden;}
.bacc-mobile-wrap .chat-box .input-box-border {position: relative;width: 100%;top:5px;height: 30px;border-radius: 20px;background-color: #1d1a13;border: 1px solid #29261f;}
.bacc-mobile-wrap .chat-box .input-box-border input {background-color:transparent;width: 100%;height:30px;color:#fff;border:0;outline:none;box-shadow:none;}
.bacc-mobile-wrap .chat-box .send-button {position: relative;top:10px; width: 100%;height: 30px;line-height: 30px;text-align: center;color: #fff;outline:1px solid #222;outline:-3px;}

/******************************************************
 * LOG BOX
 *****************************************************/
.bacc-mobile-wrap .log-box {position: relative;width: 100%;height:300px;color:#fff;display:none;}
.bacc-mobile-wrap .log-box .log-list-box{position: relative;top: 15px;left: 0px;width: 100%;height: 230px;overflow-y:auto;overflow-x:hidden;}
.bacc-mobile-wrap .log-box .input-box-border {position: relative;width: 100%;top:5px;height: 30px;border-radius: 20px;background-color: #1d1a13;border: 1px solid #29261f;}
.bacc-mobile-wrap .log-box .input-box-border input {background-color:transparent;width: 100%;height:30px;color:#fff;border:0;outline:none;box-shadow:none;}
.bacc-mobile-wrap .log-box .send-button {position: relative;top:10px; width: 100%;height: 30px;line-height: 30px;text-align: center;color: #fff;outline:1px solid #222;outline:-3px;}


/******************************************************
 * EFFECT
 *****************************************************/
 .flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.flicker_three {-webkit-animation: flickerAnimation 500ms 3;-moz-animation: flickerAnimation 500ms 3;-o-animation: flickerAnimation 500ms 3;animation: flickerAnimation 500ms 3;}
 @-webkit-keyframes effect-bet-panel {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}25%, 50% {opacity: 1;}to {opacity: 1;-webkit-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}}
@keyframes effect-bet-panel {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}25%, 50% {opacity: 1;}to {opacity: 1;-webkit-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes spin2 { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }
@-moz-keyframes spin3 { 100% { -moz-transform: rotate(-90deg); } }
@-webkit-keyframes spin3 { 100% { -webkit-transform: rotate(-90deg); } }
@keyframes spin3 { 100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } }
@-webkit-keyframes rotate-right {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes rotate-right {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes flickerAnimation {0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-o-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-moz-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-webkit-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}