@charset "utf-8";
html {overflow-y:scroll}
body {margin:0;padding:0;font-family:'dotum', dotum, sans-serif;background:#e7e7e7}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'dotum', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family:'dotum', dotum, sans-serif;font-size:1em}
input[type="submit"]{cursor:pointer}
button {cursor:pointer}
textarea, select {font-family:'dotum', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}
*, :after, :before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

html,body {background-color:#000;color:#fff;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: moz-none;-ms-user-select: none;user-select: none;}
input:focus {outline:none;}

.bacc-wrap {
	position:absolute;
	width:838px;
	left: 50%;
    transform: translate(-50%,0);
	font-size:12px;
}

/******************************************************
 * VIDEO
 *****************************************************/
.bacc-wrap .video {position:relative;width:838px;height:472px;z-index:1040;}
.bacc-wrap .video-mobile {position:absolute;width:838px;height:472px}
.bacc-wrap .video #count-down {position: absolute;width: 160px;top: 0px;left: 0px;z-index: 1040;opacity:0;}
.bacc-wrap .video .win-box {position: absolute;z-index: 1050;top: 185px;width: 482px;height: 140px;left: 50%;margin-left: -241px;display:none;}

/******************************************************
 * MESSAGE
 *****************************************************/
.bacc-wrap .video .message-box {position: absolute;width: 320px;height: 30px;line-height: 30px;text-align: center;color: #fff;left: 50%;margin-left: -160px;top: 200px;font-size: 16px;display:none;}

/******************************************************
 * CHIP
 *****************************************************/
.bacc-wrap .video .chip-box {position:absolute;width:550px;height:90px;bottom:50px;left:50%;margin-left:-275px;z-index:1060;cursor:pointer;display:none;}
.bacc-wrap .video .chip-box ul {list-style: none;padding:0px;margin:0 auto;}
.bacc-wrap .video .chip-box ul li {float: left}
.bacc-wrap .video .chip-box ul.chip li a {display:block;cursor:pointer;width:90px;height:90px;line-height:90px;text-align:center;}
.bacc-wrap .video .chip-box ul.chip li a img.flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.bacc-wrap .video .chip-box ul.money li a {display:block;width:66px;height:20px;line-height:20px;color:#fff;text-align:center;}
.bacc-wrap .video .chip-box ul.money li a.flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.bacc-wrap .video .chip-box .btn-chip-confirm {position:absolute;width:105px;height:35px;text-align:center;line-height: 33px;bottom:-40px;left:165px;}

.bacc-wrap .video .chip-box .btn-chip-reset {position:absolute;width:105px;height:35px;text-align:center;line-height: 33px;bottom:-40px;right:165px;}
.bacc-wrap .video .bet-confirm-box {position: absolute;width: 652px;height: 107px;bottom: 50px;left: 50%;margin-left: -326px;z-index: 1060;cursor: pointer;display:none;}
.bacc-wrap .video .bet-confirm-box .message {position:absolute;width:100%;height:90px;line-height:90px;text-align:center;font-size:20px;font-weight: bold;}
.bacc-wrap .video .bet-confirm-box .btn-chip-ok {position:absolute;width:148px;height:33px;text-align:center;line-height: 33px;bottom:-40px;left:170px;}

.bacc-wrap .video .bet-confirm-box .btn-chip-cancel {position:absolute;width:148px;height:33px;text-align:center;line-height: 33px;bottom:-40px;right:170px;}
.bacc-wrap .video .bet-confirm-box .line {position: absolute;width: 3px;height: 27px;bottom: -40px;left: 326px;}

/******************************************************
 * BETTING PANEL
 *****************************************************/
.bacc-wrap .baccarat-title {position:relative;width:838px;height:45px;line-height:45px;background-color:#128607;outline:2px solid #14a107;outline-offset: -2px;}
.bacc-wrap .baccarat-title .title {position: relative;width: 33.33333%;line-height: 45px;text-align: left;float: left;padding: 0 15px;}
.bacc-wrap .baccarat-title .money {position: relative;width: 33.33333%;line-height: 45px;text-align: right;float: right;padding: 0 15px;}
.bacc-wrap .baccarat-title .title strong {
    color: #aeff5d;
}
.bacc-wrap .baccarat-title .button {position: relative;width: 30.33333%;height: 32px;line-height: 32px;text-align:center;cursor: pointer;background-color:#0b6203;color: #fff;font-weight:bold;float: left;margin: 7px 4px;}
.bacc-wrap .baccarat-title .button:hover {background-color:#0b6203;	}
.bacc-wrap .baccarat-chat-box {position: relative;width: 838px;height: 34px;border: 1px solid #3d3d3d;margin-top: 3px;/* margin-bottom: 3px; */}
.bacc-wrap .baccarat-chat-box .title{position:absolute;left:0px;top:0px;width:120px;height:34px;line-height:34px;text-align:center;color:#27c317;}
.bacc-wrap .baccarat-chat-box .input-box {position: absolute;left: 120px;top: 2px;width: 660px;height: 28px;line-height: 28px;text-align: center;background-color: #1a1a1a;}
.bacc-wrap .baccarat-chat-box .input-box input {background-color:transparent;width:100%;height:30px;line-height: 30px;border:0px;color: #fff;font-size:11px;padding-left:3px;padding-left:3px;}
.bacc-wrap .baccarat-chat-box .send-button {position:absolute;right:0px;top:0px;width:55px;height:34px;line-height:34px;text-align:center;color:#27c317;}


/******************************************************
 * BETTING PANEL
 *****************************************************/
.bacc-wrap .betting-panel {position: relative;width: 838px;height: 280px;}{position:relative;left:0px;top:0px;width:838px;height:274px;}.btn-bet {cursor:pointer;}
.btn-player-pair {position:relative;left:0px;top:0px;width: 126px;height: 274px;}.btn-player-pair .rate {position:absolute;width:70px;top:155px;height:30px;line-height:30px;left:50%;margin-left:-35px;color:#fff;font-size:20px;font-weight: bold;text-align:center;}
.btn-player {position: absolute;left: 132px;top: 0px;width: 285px;height: 274px;}.btn-player .rate {position: absolute;width: 70px;top: 195px;height: 30px;line-height: 30px;left: 25px;color: #fff;font-size: 20px;font-weight: bold;text-align: center;}
.btn-tie {position: absolute;left: 368px;top: 126px;width: 102px;height: 148px;z-index:1000;}.btn-tie .rate {position: absolute;width: 70px;top: 80px;height: 30px;line-height: 30px;left: 50%;margin-left: -35px;color: #fff;font-size: 20px;font-weight: bold;text-align: center;}
.btn-banker {position: absolute;right: 132px;top: 0px;width: 285px;height: 274px;}.btn-banker .rate {position: absolute;width: 70px;top: 195px;height: 30px;line-height: 30px;right: 25px;color: #fff;font-size: 20px;font-weight: bold;text-align: center;}
.btn-banker-pair {position:absolute;right:0px;top:0px;width: 126px;height: 274px;}.btn-banker-pair .rate {position:absolute;width:70px;top:155px;height:30px;line-height:30px;right:50%;margin-right:-35px;color:#fff;font-size:20px;font-weight: bold;text-align:center;}
.btn-player .bet-money,.btn-banker .bet-money,.btn-tie .bet-money,.btn-player-pair .bet-money,.btn-banker-pair .bet-money {position: absolute;width: 100%;bottom: 0px;text-align: center;font-size: 19px;font-weight: bold;}
.panel_chip {position:absolute;width:58px;height:48px;}
.btn-player .panel_chip.panel_chip_1 {left:10px;z-index:1011;}.btn-player .panel_chip.panel_chip_2 {left:20px;z-index:1012;}.btn-player .panel_chip.panel_chip_3 {left:30px;z-index:1013;}.btn-player .panel_chip.panel_chip_4 {left:40px;z-index:1014;}.btn-player .panel_chip.panel_chip_5 {left:50px;z-index:1015;}.btn-player .panel_chip.panel_chip_6 {left:60px;z-index:1016;}
.btn-player-pair .panel_chip.panel_chip_1 {left:10px;z-index:1011;}.btn-player-pair .panel_chip.panel_chip_2 {left:20px;z-index:1012;}.btn-player-pair .panel_chip.panel_chip_3 {left:30px;z-index:1013;}.btn-player-pair .panel_chip.panel_chip_4 {left:40px;z-index:1014;}.btn-player-pair .panel_chip.panel_chip_5 {left:50px;z-index:1015;}.btn-player-pair .panel_chip.panel_chip_6 {left:60px;z-index:1016;}

.btn-banker .panel_chip.panel_chip_1 {right:10px;z-index:1011;}.btn-banker .panel_chip.panel_chip_2 {right:20px;z-index:1012;}.btn-banker .panel_chip.panel_chip_3 {right:30px;z-index:1013;}.btn-banker .panel_chip.panel_chip_4 {right:40px;z-index:1014;}.btn-banker .panel_chip.panel_chip_5 {right:50px;z-index:1015;}.btn-banker .panel_chip.panel_chip_6 {right:60px;z-index:1016;}
.btn-banker-pair .panel_chip.panel_chip_1 {right:10px;z-index:1011;}.btn-banker-pair .panel_chip.panel_chip_2 {right:20px;z-index:1012;}.btn-banker-pair .panel_chip.panel_chip_3 {right:30px;z-index:1013;}.btn-banker-pair .panel_chip.panel_chip_4 {right:40px;z-index:1014;}.btn-banker-pair .panel_chip.panel_chip_5 {right:50px;z-index:1015;}.btn-banker-pair .panel_chip.panel_chip_6 {right:60px;z-index:1016;}
.btn-tie .panel_chip.panel_chip_1 {left:50%;margin-left:-29px;z-index:1011;}.btn-tie .panel_chip.panel_chip_2 {left:50%;margin-left:-29px;z-index:1012;}.btn-tie .panel_chip.panel_chip_3 {left:50%;margin-left:-29px;z-index:1013;}.btn-tie .panel_chip.panel_chip_4 {left:50%;margin-left:-29px;z-index:1014;}.btn-tie .panel_chip.panel_chip_5 {left:50%;margin-left:-29px;z-index:1015;}.btn-tie .panel_chip.panel_chip_6 {left:50%;margin-left:-29px;z-index:1016;}

/******************************************************
 * CARDS
 *****************************************************/
.bacc-wrap .betting-panel .card-box-blind {position: absolute;left: 0px;top: 0px;width: 838px;height: 275px;z-index:1020;background-color:#000;opacity: 0.5;display: none;}
.bacc-wrap .betting-panel .card-box {position: absolute;left: 0px;top: 0px;width: 838px;height: 275px;z-index:1030;;display:none;}

.bacc-wrap .betting-panel .card-box .card_players{position: absolute;transition: all 1.5s cubic-bezier(0.68, 0.55, 1, 1);perspective: 1000;-ms-transform: perspective(1000px);-moz-transform: perspective(1000px);-ms-transform-style: preserve-3d;-moz-transform-style: preserve-3d;width: 50px;height: 80px;background-color: #eee;top: -260px;left:50%;margin-left:-30px;background-size:100% 100%;display:none;}
.bacc-wrap .betting-panel .card-box .player-sum {position: absolute;width:100px;height:100px;line-height:100px;font-size:30px;font-weight: bold;top:10px;right:50%;text-align:center;}
.bacc-wrap .betting-panel .card-box .card_bankers{position: absolute;transition: all 1.5s cubic-bezier(0.68, 0.55, 1, 1);perspective: 1000;-ms-transform: perspective(1000px);-moz-transform: perspective(1000px);-ms-transform-style: preserve-3d;-moz-transform-style: preserve-3d;width: 50px;height: 80px;background-color: #eee;top: -260px;right:50%;margin-right:-30px;background-size:100% 100%;display:none;}
.bacc-wrap .betting-panel .card-box .banker-sum {position: absolute;width:100px;height:100px;line-height:100px;font-size:30px;font-weight: bold;top:10px;left:50%;text-align:center;}
.bacc-wrap .betting-panel .card-box .card_players.card-player-1-show {left: 240px;top: 30px;-webkit-animation:spin 1.5s ease-in-out 0s;-moz-animation:spin 1.5s ease-in-out 0s;animation:spin 1.5s ease-in-out 0s;}
.bacc-wrap .betting-panel .card-box .card_players.card-player-2-show {left: 300px;top: 30px;-webkit-animation:spin 1.5s ease-in-out 0s;-moz-animation:spin 1.5s ease-in-out 0s;animation:spin 1.5s ease-in-out 0s;}
.bacc-wrap .betting-panel .card-box .card_players.card-player-3-show {left: 270px;top: 115px;transform: rotate(-90deg);-webkit-animation:spin2 1.5s ease-in-out 0s;-moz-animation:spin2 1.5s ease-in-out 0s;animation:spin2 1.5s ease-in-out 0s;}
.bacc-wrap .betting-panel .card-box .card_bankers.card-banker-1-show {right: 300px;top: 30px;-webkit-animation:spin 1.5s ease-in-out 0s;-moz-animation:spin 1.5s ease-in-out 0s;animation:spin 1.5s ease-in-out 0s;} 
.bacc-wrap .betting-panel .card-box .card_bankers.card-banker-2-show {right: 240px;top: 30px;-webkit-animation:spin 1.5s ease-in-out 0s;-moz-animation:spin 1.5s ease-in-out 0s;animation:spin 1.5s ease-in-out 0s;}
.bacc-wrap .betting-panel .card-box .card_bankers.card-banker-3-show {right: 270px;top: 115px;transform: rotate(90deg);-webkit-animation:spin3 1.5s ease-in-out 0s;-moz-animation:spin3 1.5s ease-in-out 0s;animation:spin3 1.5s ease-in-out 0s;}

/******************************************************
 * HISTORY BOX
 *****************************************************/
.bacc-wrap .history-box {position: relative;right:0px;width:838px;height:240px;background-color:#000;z-index:1090;top: 0;}
.bacc-wrap .history-box .title {position:absolute;width:100%;height:34px;line-height:34px;top:0px;left:0px;background-color:#118607;border:2px solid #14a107;text-align:center;}
.bacc-wrap .history-box .simple-history-box{position:absolute;width:220px;height:120px;overflow:hidden;}
.bacc-wrap .history-box .detail-history-box{position:absolute;width:613px;height:120px;overflow:hidden;}
.bacc-wrap .history-box table {width:6200px;height:120px;}
.bacc-wrap .history-box td {width:18px;height:18px;padding:0px;border:1px solid #999;}
.bacc-wrap .history-box td .history-icon {width: 16px;height: 16px;background-size: 16px 16px;line-height: 16px;color: #000;text-align: center;margin: 0 auto;}

.bacc-wrap .history-box .detail-1-history-box {position:absolute;width:275px;height:60px;overflow:hidden;}
.bacc-wrap .history-box .detail-1-history-box table {width:3100px;;height:60px;}
.bacc-wrap .history-box .detail-1-history-box td {width:10px;height:10px;padding:0px;border:0px;}
.bacc-wrap .history-box .detail-1-history-box td .history-icon {width: 8px;height: 8px;background-size: 8px 8px;line-height: 18x;color: #fff;text-align: center;margin: 0 auto;}

.bacc-wrap .history-box .detail-2-history-box {position:absolute;width:275px;height:60px;overflow:hidden;}
.bacc-wrap .history-box .detail-2-history-box table {width:3100px;;height:60px;}
.bacc-wrap .history-box .detail-2-history-box td {width:10px;height:10px;padding:0px;border:0px;}
.bacc-wrap .history-box .detail-2-history-box td .history-icon {width: 8px;height: 8px;background-size: 8px 8px;line-height: 18x;color: #fff;text-align: center;margin: 0 auto;}

.bacc-wrap .history-box .detail-3-history-box {position:absolute;width:275px;height:60px;overflow:hidden;}
.bacc-wrap .history-box .detail-3-history-box table {width:3100px;;height:60px;}
.bacc-wrap .history-box .detail-3-history-box td {width:10px;height:10px;padding:0px;border:0px;}
.bacc-wrap .history-box .detail-3-history-box td .history-icon {width: 8px;height: 8px;background-size: 8px 8px;line-height: 18x;color: #fff;text-align: center;margin: 0 auto;}

.bacc-wrap .history-box .simple-history-box {top:25px;left:0px;}
.bacc-wrap .history-box .detail-history-box {top:25px;left:225px;}
.bacc-wrap .history-box .detail-1-history-box {top:150px;left:0px;}
.bacc-wrap .history-box .detail-2-history-box {top:150px;left:282px;}
.bacc-wrap .history-box .detail-3-history-box {top:150px;right:0px;}

.bacc-wrap .history-box .ch-tmp-point {position: absolute;left: 10px;bottom: 2px;width: 838px;height: 25px;line-height:25px;text-align: center;color: #fff;z-index: 1030;}
.bacc-wrap .history-box .title-point {position: absolute;left: 50%;margin-left:-150px;top: 0px;width: 300px;height: 25px;line-height:25px;text-align: center;color: #fff;z-index: 1030;}

.bacc-wrap .history-box .title-point ul {list-style: none;margin:0px;padding:0px;}
.bacc-wrap .history-box .title-point ul li {float:left;width:20%;font-size:15px;font-weight: bold;}

.bacc-wrap .history-box .ch-tmp-point ul {list-style: none;margin:0px;padding:0px;}
.bacc-wrap .history-box .ch-tmp-point ul li {float:left;width:50%;font-size:15px;font-weight: bold;}

.bacc-wrap .history-box .ch-tmp-point ul li div{font-weight:bold;float:left;width:100%;margin-left:5px;margin-right:5px;}
.bacc-wrap .history-box .ch-tmp-point ul li .count_info{width: 200px;height: 23px;line-height: 18px;margin-bottom: 3px;font-size: 12px;font-weight: 700;}
.bacc-wrap .history-box .ch-tmp-point ul li .count_player{border:2px solid #51edff;border-radius:16px;color:#51edff}
.bacc-wrap .history-box .ch-tmp-point ul li .count_banker{border:2px solid #ff6d6d;border-radius:16px;color:#ff6d6d}
.bacc-wrap .history-box .ch-tmp-point ul li .count_odd{border:2px solid #595959;border-radius:16px;color:#595959}
.bacc-wrap .history-box .ch-tmp-point ul li .count_length{border:2px solid #aeff5d;border-radius:16px;color:#aeff5d}
.bacc-wrap .history-box .ch-tmp-point ul li .count_label{display:block;float:left;padding-left:5px}
.bacc-wrap .history-box .ch-tmp-point ul li .count_label_2{display:block;float:right;padding-right:10px}

/******************************************************
 * AVATAR
 *****************************************************/
.bacc-wrap .avatar {position: absolute;width: 838px;height: 472px;top: 0px;outline:1px solid #222;outline-offset: -1px;z-index: 1010;}
.bacc-wrap .avatar img{width:100%;height:472px;}

/******************************************************
 * CHAT BOX
 *****************************************************/
 .official-list{position: absolute;bottom: 0;right: 0px;width: 838px;height: 290px;background-color: #000;overflow-y: auto;overflow-x: hidden;padding:10px;opacity: 1;z-index: 9;display: none;}
.bacc-wrap .video .chat-list-box{position: absolute;bottom: 0;right: 0px;width: 838px;height: 230px;background-color: #000;overflow-y: auto;overflow-x: hidden;padding:10px;opacity: 0.8;display: none;}
.bacc-wrap .video .input-box .input-box-border {position: absolute;width: 265px;height: 30px;border-radius: 20px;background-color: #1d1a13;border: 1px solid #29261f;}
.bacc-wrap .video .input-box .input-box-border input {background-color:transparent;width:250px;padding-left:10px;padding-right:10px;height:30px;color:#fff;border:0;outline:none;box-shadow:none;}
.bacc-wrap .video .input-box .send-button {position: absolute;background-color: transparent;width: 50px;height: 30px;line-height: 30px;text-align: center;color: #fff;right: 0px;top: 0px;}

/******************************************************
 * CHIP
 *****************************************************/
.chip-box-one {position:relative;left:0px;width:838px;height:80px;background-color:#000;outline:2px solid #262626;outline-offset:-2px;}
.chip-box-one .chip-box {position: absolute;width: 510px;height: 80px;left: 10px;line-height: 80px;z-index: 1060;cursor: pointer;}
.chip-box-one .chip-box ul {list-style: none;padding:0px;margin:0 auto;}
.chip-box-one .chip-box ul li {float: left;width:85px;height:60px;}
.chip-box-one .chip-box ul.chip li a {display:block;cursor:pointer;width:80px;height:80px;line-height:80px;text-align:center;}
.chip-box-one .chip-box ul.chip li a img{width:60px;height:60px;}
.chip-box-one .chip-box ul.chip li a img.flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.chip-box-one .chip-box ul.money li a {display:block;width:66px;height:20px;line-height:20px;color:#fff;text-align:center;}
.chip-box-one .chip-box ul.money li a.flicker {-webkit-animation: flickerAnimation 1s infinite;-moz-animation: flickerAnimation 1s infinite;-o-animation: flickerAnimation 1s infinite;animation: flickerAnimation 1s infinite;}
.chip-box-one .confirm-button-box {position: absolute;right: 0px;width: 310px;outline: 2px solid #262626;outline-offset: -2px;height: 80px;}
.chip-box-one .confirm-button-box ul {list-style: none;padding:0px;margin:0 auto;}
.chip-box-one .confirm-button-box ul li {float: left;width:155px;height:80px;line-height:80px;text-align:center;}
.chip-box-one .confirm-button-box ul li a {display:block;cursor:pointer;width:147px;height:80px;margin:0 auto;}
.chip-box-one .chip-bw {position: absolute;width: 510px;height: 80px;left: 10px;line-height: 80px;z-index: 1060;cursor: pointer;display: none;}

.chip-box-one .chip-box .btn-chip-confirm {position:absolute;width:104px;height:35px;text-align:center;line-height: 35px;bottom:-40px;left:30px;}

.chip-box-two {display:none;position:relative;left:0px;width:838px;height:80px;background-color:#000;outline:2px solid #262626;outline-offset:-2px;}
.chip-box-two .label-box {position: absolute;width: 510px;height: 80px;line-height: 80px;text-align: center;}
.chip-box-two .confirm-button-box {position: absolute;right: 0px;width: 310px;outline: 2px solid #262626;outline-offset: -2px;height: 80px;}
.chip-box-two .confirm-button-box ul {list-style: none;padding:0px;margin:0 auto;}
.chip-box-two .confirm-button-box ul li {float: left;width:155px;height:80px;line-height:80px;text-align:center;}
.chip-box-two .confirm-button-box ul li a {display:block;cursor:pointer;width:147px;height:80px;margin:0 auto;}

/******************************************************
 * EFFECT
 *****************************************************/
@-webkit-keyframes effect-bet-panel {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}25%, 50% {opacity: 1;}to {opacity: 1;-webkit-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}}
@keyframes effect-bet-panel {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}25%, 50% {opacity: 1;}to {opacity: 1;-webkit-transform: scale3d(1.1, 1.1, 1);transform: scale3d(1.1, 1.1, 1);}}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes spin2 { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }
@-moz-keyframes spin3 { 100% { -moz-transform: rotate(-90deg); } }
@-webkit-keyframes spin3 { 100% { -webkit-transform: rotate(-90deg); } }
@keyframes spin3 { 100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } }
@-webkit-keyframes rotate-right {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes rotate-right {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes flickerAnimation {0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-o-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-moz-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
@-webkit-keyframes flickerAnimation{0%   { opacity:1; }50%  { opacity:0.4; }100% { opacity:1; }}
/**************************************************
* 1225 ADD
**************************************************/
.buttonBox {
    position: relative;
    width: 33.33333%;
    line-height: 45px;
    text-align: left;
    float: left;
    height: 45px;
}
.resultNumFirst {
    width: 100%;
    height: 32px;
    float:left;
}
.resultNumFirst div{
    width: calc(33.33333% - 8px);
    height: auto;
    text-align: center;
    margin: 4px;
    float: left;
    font-weight: 700;
    padding: 5px 0;
    border-radius: 15px;
}
.resultNumSecond {
    width: 100%;
    height: 32px;
    float:left;
}
.resultNumSecond div{ 
    width: calc(50% - 8px);
    height: auto;
    text-align: center;
    margin: 4px;
    padding: 4px 0;
    float: left;
    font-weight: 700;
    border-radius: 16px;
}
.flicker {
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}
.flicker_three {
    -webkit-animation: flickerAnimation 2s 3;
    -moz-animation: flickerAnimation 2s 3;
    -o-animation: flickerAnimation 2s 3;
    animation: flickerAnimation 2s 3;
}
.btn-bet:active {
    opacity: 0.5;
}
.btn-bet:active .chip-spread{
    opacity: 1;
    transition: opacity 1ms;
}

.btn-bet {
    transition: opacity 150ms;
    opacity: 1;
}
.empty-history-box {
    width: 220px;
    height: 63px;
    top: 150px;
    position: relative
}
div#history-simple-detail {
    position: relative;
    float: right;
    width: 613px;
    height: 63px;
    top: 87px;
    overflow: hidden
}
table#history_simple_detail_record {
    height: 63px!important
}
.chip-spead-1,
.chip-spead-2 {
    width: 175px;
    height: 193px;
    opacity: 0;
    transition: opacity 1s;
    background-size: 100% 100%;
    line-height: 110px;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    position: absolute
}
.chip-spead-1 {
    left: 32px;
    top: 28px
}
.chip-spead-2 {
    right: 45px;
    top: 15px
}
.chip-spead-3 {
    background-size: 100% 100%;
    width: 72px;
    height: 100px;
    line-height: 110px;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    left: 5px;
    position: absolute;
    top: 8px;
    opacity: 0;
    transition: opacity 1s
}
.chip-spead-4,
.chip-spead-5 {
    background-size: 100% 100%;
    width: 72px;
    height: 166px;
    opacity: 0;
    transition: opacity 1s
}
.bet-money-chip-4,
.chip-spead-4 {
    left: 15px;
    top: 9px
}
.chip-spead-4 {
    line-height: 110px;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    position: absolute
}
.chip-spead-5 {
    line-height: 110px;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    right: 30px;
    position: absolute;
    top: 9px
}
.bet-money-chip-1,
.bet-money-chip-2,
.bet-money-chip-3,
.bet-money-chip-4,
.bet-money-chip-5 {
    background-size: 100% 100%;
    width: 96px;
    height: 96px;
    line-height: 110px;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    display: none
}
.bet-money-chip-1 {
    left: 85px;
    top: 98px
}
.bet-money-chip-3 {
    left: 5px;
    top: -47px
}
.bet-money-chip-2 {
    right: 85px;
    top: 98px
}
.bet-money-chip-5 {
    right: 15px;
    top: 9px
}